---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
    <div align="center"><iframe allow="encrypted-media" width="800" height="450" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" allowfullscreen="yes" src="http://buffstream.fun/frame2.php?place=aHR0cDovL3lyc3BydHMuaW8vaW5nL2VzcG5qbQ==&width=700&height=420&uniqid=1635263991" ></iframe></div>
  </div>

</article>
